<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Blog</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js" ></script>
</head>
<body>
<div class="wrapper" ng-app="pageDiadiem">
    <div ng-controller="diaDiem">
        <div>
            {{data.title}}
        </div>

    </div>
</div>
<script type="text/javascript" >

    angular.module('pageDiadiem', [])
            .controller("diaDiem", function($scope, $http) {
                $scope.data= {};
                var url = 'http://localhost/blog/server/test.php?2';
                // console.log(url);
                $http.get(url)
                    .success(function(data) {
                        $scope.data = data;
                        console.log(data);

                    })
                    .error(function(data, status, headers, config) {
                        // log error
                        console.log(status,headers,config);
                    });

            });


</script>
</body>
</html>